.navigation{
    height: 80px;
    background-color: rgb(221, 255, 255);
    box-shadow: 0px 3px 7px gainsboro;

}
.navigation ul {
    display: flex;
    gap:30px;
    width: fit-content;
    margin: 0 auto;
    align-items: center;
    height: 100%;
    font-size: 24px;
}

li {
    list-style: none;
    transition: all ease-in-out 0.3s;
}
li:hover{
    transform: translateY(-2px);
    color: #111111;
    text-decoration: underline;
}
a{
    text-decoration: none;
}
