{% extends 'components/base.njk' %}

{% block content %}
    <section id="articles-container">
        <h1>Список статей</h1>
        <!-- Статті будуть динамічно завантажені за допомогою JavaScript -->
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/nunjucks/3.2.2/nunjucks.min.js"></script>
    <script src="/js/articles.js"></script>
{% endblock %}