{% extends 'components/base.njk' %}

{% block content %}
    <main id="articles-container">
            <h1>Список статей</h1>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/nunjucks/3.2.2/nunjucks.min.js"></script>
    <script src="/js/articles.js"></script>
{% endblock %}