{% extends 'components/base.njk' %}
{% block content %}
    <main id="app">
        <section class="hero">
            <h1>Вітаємо на нашому новинному сайті!</h1>
            <p>Дізнайтесь останні новини та тренди зі світу. Ми надаємо найсвіжіші та найактуальніші новини з різних галузей.</p>
        </section>

        <section class="news">
            <h2>Останні новини</h2>
            <div class="news-list">
                <article class="news-list-item">
                <h3>Заголовок новини 1</h3>
                <p>Короткий опис новини 1, що буде цікавий читачам. <a href="/article/1">Читати далі...</a></p>
            </article>
            <article class="news-list-item">
                <h3>Заголовок новини 2</h3>
                <p>Короткий опис новини 2, що охоплює важливі події. <a href="/article/2">Читати далі...</a></p>
            </article>
            <article class="news-list-item">
                <h3>Заголовок новини 3</h3>
                <p>Останні новини в світі технологій. <a href="/article/3">Читати далі...</a></p>
            </article>
            </div>
        </section>

        <section class="popular-articles">
            <h2>Популярні статті</h2>
            <ul>
                <li><a href="/article/1">Як штучний інтелект змінює сучасний світ</a></li>
                <li><a href="/article/2">Тренди у веб-розробці на 2024 рік</a></li>
                <li><a href="/article/3">Як зберегти безпеку своїх даних онлайн</a></li>
            </ul>
        </section>
    </main>
{% endblock %}