<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    {% include 'components/header.njk'%}
    {% block content%}
    {% endblock%}

    {% include 'components/footer.njk' %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/nunjucks/3.2.2/nunjucks.min.js"></script>
    <script src="server.js"></script>
</body>
</html>