<main class="contact">
    <div class='contact-header'>
        <h2>Контактна інформація</h2>
        <p>Зв'яжіться з нами для додаткової інформації або співпраці:</p>
    </div>
    <ul>
        <li>Телефон: +38 (050) 123-45-67</li>
        <li>Email: info@newssite.com</li>
        <li>Адреса: Київ, Україна</li>
    </ul>
</main>